services:
  db:
    image: postgres:16-alpine
    container_name: picnic_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-picnic}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-picnic}
      POSTGRES_DB: ${POSTGRES_DB:-picnic}
    ports:
      - '${POSTGRES_PORT:-5432}:5432'
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}']
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:8-alpine
    container_name: picnic_redis
    restart: always
    ports:
      - '${REDIS_PORT:-6379}:6379'
    command: >
      redis-server
      --appendonly yes
      --maxmemory-policy allkeys-lru
    healthcheck:
      test: ['CMD', 'redis-cli', '-a', 'supersecretpassword', 'ping']
      interval: 30s
      timeout: 10s
      retries: 3
    volumes:
      - redis_data:/data

volumes:
  pgdata:
  redis_data:
